.aboutMe{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    margin-bottom: 20px;
    background-image: linear-gradient(var(--pink-color), var(--main-color) 20%);
    height: 100vh;
}


.aboutMe h2{
    font-family: "Prata", serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.aboutMeContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 80%;
    margin-top: 50px;
}

.aboutMeLeft img{
    width: 350px;
    border-radius: 25%;
    margin-right: 50px;
}

.aboutMeRight{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aboutMeRight h3{
    font-family: "Prata", serif;
    font-size: 2rem;
    text-align: center;
}

.aboutMeRightMainText{
    font-family: "Roboto", serif;
    font-size: 1.2rem;
    text-align: justify;
}

.aboutMeRightMainText a{
    text-decoration: none;
    color: var(--pink-color);
    font-size: 1.25rem;
}

.aboutMeRightMainText a:hover{
    color: var(--violet-color);
}

.aboutMeRightMyPluses{
    font-family: "Roboto", serif;
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--pink-color);
}

.aboutMeRightPlusesList{
    list-style-type: none;

}

.aboutMeRightPlusesListItem{
    font-style: italic;
    font-size: 1.1rem;
}

.aboutMeRightPlusesListItem::before{
    content: "✓";
    margin-right: 10px;
}

@media (max-width: 1300px){


    .aboutMeLeft img{
        width: 300px;
        margin-right: 10px;
    }

    .aboutMeRight{
        width: 100%;
    }
}

@media (max-width: 1080px){
    .aboutMeRight{
        gap: 5px;
    }
    
    .aboutMeRight h3{
        font-size: 1.5rem;
    }
    
    .aboutMeRightMainText{
        font-size: 1rem;
    }
    
    .aboutMeRightMainText a{
        font-size: 1rem;
    }
}

@media (max-width: 900px){
    .aboutMe{
        padding-top: 20px;
    }

    .aboutMeRight{
        gap: 5px;
    }
    
    .aboutMeRight h3{
        font-size: 1.5rem;
    }
    
    .aboutMeRightMainText{
        font-size: 1rem;
    }
    
    .aboutMeRightMainText a{
        font-size: 1rem;
    }
}

@media (max-width: 750px){
    .aboutMeLeft{
        display: none;
    }

    .aboutMe h2{
        font-family: "Prata", serif;
        font-size: 1.75rem;
        margin-bottom: 5px;
    }
    
    .aboutMeContainer{
        margin-top: 5px;
    }

    .aboutMeRight{
        gap: 1px;
    }

    .aboutMeRight h3{
        font-size: 1.1rem;
    }
}