.mainPage{
    background-image: url("./../img/backgroundTop.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    text-align: center; 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.bigText{
    font-size: 3.5em;
    font-weight: 700;
    grid-area: 3 / 1 / 4 / 3;
}

.bigText b{
    color: var(--pink-color);
    font-family: "Prata", serif;
    font-style: italic;
}

.smallText{
    font-size: 1.8em;
    font-weight: 400;
    grid-area: 4 / 4 / 5 / 5;
}

.smallText a{
    display: inline-block;
    color: var(--pink-color);
    background-color: #ffdeb100;
    box-shadow: 2px 2px 0px #f9c0a581;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-style: italic;
    border: 2px solid #f9c0a577;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
}

.smallText a:hover{
    background-color: #f9c0a5;
    color: var(--violet-color);
    box-shadow: none;
}

@media (max-width: 1300px) {
    .bigText{
        font-size: 2.5em;
        grid-area: 2 / 1 / 3 / 3;
    }

    .smallText{
        font-size: 1.5em;
        grid-area: 3 / 4 / 4 / 5;
    }
}

@media (max-width: 1080px) {
    .bigText{
        font-size: 2em;
    }

    .smallText{
        font-size: 1.2em;
    }
}

@media (max-width: 900px) {
    .mainPage{
        height: calc(100vh - 248px);
    }
    
    .bigText{
        font-size: 1.5em;
    }

    .smallText{
        font-size: 1em;
    }
}

@media (max-width: 600px) {
    .bigText{
        font-size: 1em;
        grid-area: 1 / 2 / 3 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .smallText{
        font-size: 0.75em;
        grid-area: 2 / 4 / 3 / 5;
    }
}