.projects{
    height: 100vh;
    padding-top: 100px;
    background-image: linear-gradient(var(--main-color), var(--pink-color) 90%);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.projects h2{
    font-size: 2.5rem;
    font-family: "Prata", serif;
    text-align: center;
    color: var(--black-color);
}


.slider{
    position: relative;
    width: 400px;
    height: 500px;
    margin: 50px auto 0;
    user-select: none;
    touch-action: pan-y;
}

.slider img{
    pointer-events: none;
}

.slider-list{
    width: 400px;
    height: 500px;
    overflow: hidden;
}

.slider-list.grab{
    cursor: grab;
}

.slider-list.grabbing{
    cursor: grabbing;
}

.slider-track{
    display: flex;
}

.slide{
    width: 400px;
    height: 500px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: 2px solid var(--black-color);
    background-color: var(--orange-color);
    border-radius: 20px;
}

.slide img{
    width: 80%;
    height: 300px;
    border-radius: 20px;
    margin-top: 20px;
    border: 2px solid var(--black-color);
}

.projectsCardsCardLinks{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px 0;
}

.projectsCardsCardGit{
    display: inline-block;
    padding: 20px 20px;
    margin: 10px 0;
    font-size: 1rem;
    color: var(--black-color);
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.projectsCardsCardGit:hover{
    background-color: var(--black-color);
    color: var(--main-color);
}

.projectsCardsCardPage{
    display: inline-block;
    padding: 20px 20px;
    margin: 10px 0;
    font-size: 1rem;
    color: var(--main-color);
    background-color: var(--black-color);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.projectsCardsCardPage:hover{
    background-color: var(--main-color);
    color: var(--black-color);
}

.slide p{
    font-size: 1.5rem;
    text-align: center;
    padding: 20px 20px;
}

.slider-arrows {
    margin-top: 15px;
    text-align: center;
}
  
.next,
.prev {
    background: none;
    border: none;
    margin: 0 10px;
    font-size: 30px;
    cursor: pointer;
}
  
.next.disabled,
.prev.disabled {
    opacity: .25;
    pointer-events: none;
}