.projects{
    height: 100vh;
    padding-top: 100px;
    background-image: linear-gradient(var(--main-color), var(--pink-color) 90%);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.projects h2{
    font-size: 2.5rem;
    font-family: "Prata", serif;
    text-align: center;
    color: var(--black-color);
}

.projectsCards{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.projectsCardsCard{
    width: 300px;
    min-height: 50vh;
    flex-wrap: wrap;
    height: auto;
    background-color: var(--pink-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 0 10px 5px var(--black-color);
}

.projectsCardsCard img{
    width: 100%;
    height: 50%;
    border-radius: 25px 25px 0 0;
}

.projectsCardsCard p{
    font-size: 1.2rem;
    font-family: "Roboto", serif;
    text-align: justify;
    padding: 10px;
    margin-top: 10px;
}

.projectsCardsCardLinks{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 35px;
}

.projectsCardsCardGit{
        display: inline-block;
        padding: 10px 20px;
        font-size: 1rem;
        font-family: "Roboto", serif;
        text-align: center;
        color: var(--black-color);
        background-color: var(--main-color);
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;

    
}

.projectsCardsCardGit:hover {
    background-color: var(--black-color);
    color: var(--main-color);
}

.projectsCardsCardPage{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: "Roboto", serif;
    text-align: center;
    color: var(--main-color);
    background-color: var(--black-color);
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;


}

.projectsCardsCardPage:hover {
background-color: var(--main-color);
color: var(--black-color);
}